{% extends 'base.html' %}


{% block title %}PicHub{% endblock %}
{% block content %}
  <div class="login_section">
    <p class="welcome">Вход</p>
    <form method="post">
      {% csrf_token %}
      <div class="form_element">
        {{ form.username }}
        <label>Логин</label>
      </div>
      <div class="form_element">
        {{ form.password }}
        <label>Пароль</label>
      </div>
      <input type="submit" value="Войти" />
    </form> 
  </div>
{% endblock %}

