{% extends 'base.html' %}

{% load static %}

{% block title %}PicHub{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/create_project.css' %}">
{% endblock %}

{% block content %}

    <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div>
            <p>Название</p>
            {{ projectform.name }}
            {% if projectform.non_field_errors %}
                {% for error in projectform.non_field_errors %}
                    <p class="error">{{ error }}</p>
                {% endfor %}
            {% endif %}
        </div>
        <div>
            <p>Приватный</p>
            {{ projectform.is_private }}
        </div>
        <div>
            <p>Описание</p>
            {{ projectform.description }}
        </div>
        <div>
            <p>Добавьте файлы</p>
            {{ projectform.files }}
        </div>
        <input type="submit" value="Создать">
    </form>
    <!-- <h3>Uploaded Files:</h3>
    <ul>
        {% for file in files %}
            <li><a href="{{ file.file.url }}">{{ file.file.name }}</a></li>
        {% empty %}
            <li>No files uploaded yet.</li>
        {% endfor %}
    </ul> -->
{% endblock %}
