{% extends 'base.html' %}
{% load static %}

{% block title %}PicHub{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/followers.css' %}">
{% endblock %}

{% block content %}
<main>
    <div class="followers_nav">
        <a href="{% url 'followers' %}" class="{% if title == "Ваши подписчики и друзья:" %} current_nav {% endif %}">
            <i class="fa-solid fa-user-group"></i>
            Друзья и подписчики
        </a>
        <a href="{% url 'follows' %}" class="{% if title == "Ваши подписки:" %} current_nav {% endif %}">
            <i class="fa-solid fa-user-plus"></i>
            Подписки
        </a>
        <a href="{% url 'search_users' %}" class="{% if title == "" %} current_nav {% endif %}">
            <i class="fa-solid fa-magnifying-glass"></i>
            Поиск
        </a>
    </div>

    {% if search_form %}
        <h3>Поиск пользователей</h3>
        <form action="" method="POST" class="search_form">
            {% csrf_token %}
            {{ search_form.username }}
            <input type="submit" value="Искать">
        </form>
    {% endif %}

    <section class="friends">
        <h3>{{ title }}
            {% if title %}
                ({{ followers|length }})
            {% endif %}
        </h3>
        {% if followers|length > 0 %}
            {% for follower in followers %}
            <article class="already-friends">
                <a class="midle" href="{% url 'profile' follower.follower.username %}">
                    <img src="/media/{{ follower.follower.profile.photo }}" alt="">
                </a>
                <a class="midle">{{ follower.follower.username }}</a>
                {% if follower.status == "Подписчик" %}
                    <a class="status follower">{{ follower.status }}</a>
                {% elif follower.status == "Подписки" %}
                    <a class="status follower">{{ follower.status }}</a>
                {% elif follower.status == "Друзья" %}
                    <a class="status friend">{{ follower.status }}</a>
                {% endif %}
            </article>
            {% endfor %}
        {% else %}
            <h3>{{ searchstatus }}</h3>
        {% endif %}
    </section>
</main>
{% endblock %}
