{% extends 'base.html' %}
{% load static %}

{% block title %}PicHub{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/like_project.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
{% endblock %}

{% block content %}
<main>
    <div class="search_block">
        <h3 class="zag">{{ main_title }}
            {% if not filter_form %}
                <a href="{% url 'main' %}" class="reset_search"><i class="fa-solid fa-house"></i> На главную</a>
            {% endif %}
        </h3>
        {% if search_form %}
            <div class="hidden_search">
                <a id="show_search" class="show_search"><i class="fa-solid fa-magnifying-glass"></i></a>
                <form action="" method="POST" class="search_form">
                    {% csrf_token %}
                    {{ search_form.name }}
                    <input type="submit" value="Искать">
                </form>
            </div>
        {% endif %}
        </div>
    {% comment %} {% if filter_form %}
    <form method="POST" class="filter_form">
        {% csrf_token %}
        {{ filter_form.filter }}
        <input type="submit" value="Фильтровать">
    </form>
    {% endif %} {% endcomment %}
    <section class="projects" id="project_list">
        {% include "blocks/all_projects.html" %}
    </section>
    {% if search_form %}
    <div class="load_block">
        <a id="lazy_more">Загрузить еще</a>
    </div>
    {% endif %}
    <script>
        // Скрипт для динамической загрузки проектов в виде пагинатора
        var page = 1;
        var empty_page = false;
        var block_request = false;

        $('#lazy_more').click(function (e) {
            e.preventDefault();
            if (empty_page === false && block_request === false) {
                block_request = true;
                page += 1;
                if (page == {{ max_pages }}){
                    $('#lazy_more').remove();
                }
                $.get('?page=' + page, function (data) {
                    if (data === '') {
                        empty_page = true;
                        console.log("1");
                    } else {
                        block_request = false;
                        $('#project_list').append(data);
                    }
                });
            }
        });
    </script>
    <script src="{% static 'js/hide_search.js' %}"></script>
</main>
{% endblock %}
