{% extends "project/project_settings.html" %}

{% load static %}

{% block settings %}
    <div class="settings_block">
        <div class="settings_nav">
            <a href="{% url 'settings_proj' project.autor.username project.name %}">
                <i class="fa-solid fa-pen-to-square"></i> Изменение
            </a>
            <a href="" class="current_settings_nav">
                <i class="fa-solid fa-file-circle-plus"></i> Добавление файлов
            </a>
            <a href="{% url 'settings_proj_delete' project.autor.username project.name %}">
                <i class="fa-solid fa-trash"></i> Удаление
            </a>
        </div>
        <div class="settings_body">
            <h3>Добавление файлов в проект:</h3>
            <form action="" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{ add_files_form.files }}
                <input type="submit">   
            </form>
        </div>
    </div>
    <script src="{% static 'js/confirm_delete_show.js' %}"></script>
{% endblock %}