form{
    display: flex;
    flex-direction: column;
    width: 400px;
    align-items: flex-start;
    margin:  0 auto;
    div{
        margin-bottom: 30px;
    }
}
ul, h3{
    margin:  30px auto;
}

.dz {
    border: dashed !important;
    background-color: #ccc !important;
    border-radius: 10px !important;
}

.dz:hover {
    background-color: aliceblue !important;
}
.fallback{
    width: 800px;
    height: 300px;
    margin-top: 100px;
}