.error_name{
  font-size: 20px;
  color: red;
  font-weight: 500;
  margin-top: 20px;
}
main {
    /* margin: 3% 5% 3% 5%; */
    margin: 40px auto;
    /* width: var(--width); */
    width: 1200px;
  }
  
  hr {
    border-top: 5px #c6a6dd99 solid;
  }
  
  .top-text {
    color: #9a5bc7;
    hr{
      border-top: 10px solid #c6a6dd99;
    }
  }
  
  .main-information{
    margin-top: 20px;
    h3,
    p{
      font-weight: 700;
      color: #9A5BC7;
    }
    p{
      font-size: 20px;
    }
  
    .user-and-name{
      display: flex;
      align-items: center;
  
      h3{
        margin-top: 20px;
        margin-inline: 1%;
        font-size: 28px;
      }
    }
  
    .fon-input{
      padding: 10px;
      background: linear-gradient(180deg, rgba(246, 196, 219, 0.5) 0%, rgba(218, 195, 235, 0.5) 100%);
      border-radius: 10px;
      box-shadow: 0px 4px 4px 0px #00000040;
      
      p{
        font-weight: 600;
        color: black;
        font-size: 18px;
        margin: auto;
      }
      input{
        border-radius: 10px;
        border: none;
        padding: 5px 0 5px 10px;
        box-shadow: 0px 4px 4px 0px #00000040;
        font-weight: 600;
        &:focus{
            outline: none;
        }
      }
    }
  }
  
  .description{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    margin-bottom: 30px;
  
    div{
      width: 45%;
      margin-top: 1%;
      textarea{
        width: 100%;
        border-radius: 10px;
        border: none;
        padding-left: 10px;
        resize: none;
        padding: 10px 20px;
        &:focus{
            outline: none;
        }
      }
    }
  }
  
  .radio-input{
    margin-top: 20px;
    margin-bottom: 40px;
    display: flex;
    >div{
        display: flex;
        flex-direction: column;
        height: 200px;
        border: none;
        &:nth-child(1){
            margin-right: 20px;
            width: 50px;
            align-items: center;
        }
        div{
            display: flex;
            flex-direction: column;
            height: 100%;
            justify-content: space-around;
        }
    }
  }
  .add_files_p{
    margin-top: 20px;
    font-size: 22px;
  }
  div{
    border: none;
    div{
      display: flex;
      flex-direction: column;
    }
  
    label{
      margin-left: 2%;
    }
    h3,
    p{
      font-weight: 700;
    }
  
    h3{
      font-size: 28px;
      color: #9A5BC7;
      display: flex;
      align-items: center;
      img{
        width: 45px;
        height: 45px;
      }
    }
    
    p{
      font-size: 20px;
      color: #B585D7;
    }
  
    input[type="radio"] {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      background-color: white;
      width: 25px;
      height: 25px;
      border-radius: 50%; 
      border: 4px solid #CBA9EF;
      margin-top: 15px;
  
      &:checked {
        background-color: #CBA9EF;
        border: 4 px solid #CBA9EF; 
      }
    }
  }
  
  /* .but{
    display: flex;
    margin-top: 1%;
    justify-content: end;
  
    input{
      border-radius: 30px;
      padding-block: 10px;
      padding-inline: 20px;
      border: none;
      background-color: #CBA9EF;
      color: white;
      font-weight: 700;
      font-size: 24px;
      box-shadow: 0px 4px 4px 0px #00000040;
      text-shadow: 0px 4px 4px #00000040;
    }
  } */


input[type="file"]{
  width: 100%;
  margin: 20px 0;
}
input[type="file"]::file-selector-button{
    /* overflow: hidden; */
    /* color: transparent; */
    height: 300px;
    width: 100% !important;
    background-color: white;
    border-radius: 20px;
    border: 2px black dashed;
}
input[type="submit"]{
    background-color: var(--fiol);
    border-radius: 8px;
    height: 30px;
    width: 200px;
    border: none;
    color: white;
    font-size: 14px;
    margin-left: auto;
    font-weight: 600;
    &:focus{
        outline: none;
    }
}

#imagePreview {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.img-container {
  width: 100px;
  height: 100px;
  overflow: hidden;
}
.img-container img {
  width: 100%;
  height: auto;
}