.foto{
    height: 80vh;
    margin-top: 10vh;
    article{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        img{
            border-radius: 50%;
            width: 350px;
            height: 350px;
            margin-bottom: 5vh;
        }
        p{
            font-weight: 500;
            color: #9A5BC7;

        }
        .username{
            font-size: 36px;
        }
        .sub{
            font-size: 24px;
            margin-block: 1%;
        }
        button{
            background-color:#CBA9EF;
            color: #fff;
            font-weight: 700;
            font-size: 24px;
            border-radius: 30px;
            border: none;
            padding-inline: 10px;
            padding-block: 5px;
        }
    }
}
.Select_photo_div::file-selector-button{
    /* width: 105px; */
    overflow: hidden;
    margin-top: 20px;
    background-color:#CBA9EF;
    color: #fff;
    font-weight: 700;
    font-size: 18px;
    border-radius: 10px;
    padding: 10px 20px;
    border: none;
}
label[for="photo"]{
    display: none;
}
body{
    overflow-x: hidden;
}
.strip{
    background: linear-gradient(90deg, rgba(244, 168, 202, 0.3) 0%, rgba(203, 169, 239, 0.3) 100%);
    height: 5vh;
    margin-top: 10px;
}

.information-about-me{
    height: 60vh;
    article{
        margin-top: 7vh;
        margin-left: 7vw;
        width: 50%;
    }

    .block-inform{
        img{
            width: 42px;
            height: 42px;
        }
        h3{
            display: flex;
            align-items: center;
            font-weight: 700;
            font-size: 36px;
            color: #E35B98;
            margin-bottom: 5px;
        }
        input{
            width: 100%;
            border-radius: 15px;
            padding-left: 10px;
            padding-block: 15px;
            border: none;
            background: linear-gradient(180deg, rgba(236, 162, 195, 0.5) 0%, rgba(198, 166, 221, 0.5) 100%);
            color: #64636380;
            box-shadow: 0px 4px 4px #00000040;
        }
    }
    .midle-block{
        margin-block: 5%;
    }

    button{
        border-radius: 30px;
        background: #CBA9EF;
        color: #fff;
        padding-inline: 20px;
        padding-block: 10px;
        font-weight: 700;
        font-size: 25px;
        border: none;
        margin-top: 5%;
    }
}

/* .circle{
    span{
        border-radius: 50%;
        position: relative;
        z-index: -1;
        display: block;
    }
    .left-top{
        width: 40vw;
        height: 40vw;
        background: linear-gradient(270deg, rgba(248, 181, 210, 0.4) 14%, rgba(255, 255, 255, 0.4) 100%);
        filter: blur(5px);
        bottom: 150vh; 
        left: -15vw;
    }

    .right-top{
        width: 40vw;
        height: 40vw;
        background: linear-gradient(270deg, rgba(248, 181, 210, 0.4) 14%, rgba(255, 255, 255, 0.4) 100%);
        filter: blur(3px);
        bottom: 240vh;
        right: -80vw;
    }

    .left-bottom{
        width: 40vw;
        height: 40vw;
        background: linear-gradient(270deg, rgba(233, 219, 248, 0.8) 14%, rgba(255, 255, 255, 0.8) 100%);
        filter: blur(5px);
        bottom: 210vh;
        left: -20vw;
    }

    .right-bottom{
        width: 40vw;
        height: 40vw;
        background: linear-gradient(270deg, rgba(248, 181, 210, 0.8) 14%, rgba(255, 255, 255, 0.8) 100%);
        filter: blur(3px);
        bottom: 280vh;
        right: -70vw;
    }
} */