
/* .navigat{
    hr{
        border-top: 10px solid #ECA2C399;
    }
    nav{
        display: flex;
        justify-content: space-between;
        margin-bottom: 3vh;
        a{
            text-decoration: none;
            font-weight: 700;
            font-size: 28px;
        }

        .edge{
            color: #E21F77;
        }

        .midle-text{
            color: #9A5BC7;
            hr{
                border-top: 4px solid #F3A0C5;
                border-bottom: none;
                border-inline: none;
            }
        }
    }   
} */

/* .search{
    margin-top: 2%;
    input{
        width: 100%;
        border-radius: 30px;
        background: #FFE8F2;
        padding-block: 10px;
        padding-left: 20px;
        border: none;
        box-shadow: 0px 4px 4px 0px #00000040;
    }
    input::placeholder{
        color: #E21F77;
        font-weight: 700;
        font-size: 17px;
    }
} */
main{
    min-height: 65vh;
}
h3{
    margin-top: 40px;
    margin-bottom: 10px;
    color: #9A5BC7;
    font-size: 32px;
    font-weight: 600;

}
hr{
    border-top: 10px solid #ECA2C399;
    margin-bottom: 20px;
}
.friends{
    margin: 20px auto;
    margin-top: 20px;
    width: 80vw;
    article{
        display: flex;
        align-items: center;
        margin-bottom: 26px;
        img{
            border-radius: 50%;
            width: 60px;
            height: 60px;
        }
        .midle{
            font-weight: 700;
            font-size: 24px;
            color: #622190;
            margin: 0 6% 0 2%;
            text-decoration: none;
            transition: .8s;
            /* padding: 5px 10px; */
            &:hover{
                transition: .5s;
                /* background-color: rgba(109, 11, 179, 0.3); */
                /* color: #6221908d; */
                /* text-shadow: 3px 2px 5px rgba(0,0,0,0.5); */
                /* transform: rotate(5deg) translate(20px); */
            }
        }
        .status{
            border-radius: 30px;
            padding: 10px 40px;
            font-weight: 700;
            font-size: 18px;
            color: white;
            border: none;
            box-shadow: 0px 4px 4px 0px #00000040;
        }
        
    }
   
}
.follower{
    background-color: #C6A6DD;
}
.friend{
    background-color: #E21F77;
}

.project_info{
    display: flex;
    margin: 10px auto;
    .projname{
        display: flex;
        h2{
            font-size: 20px;
        }
    }
}