
/* .zag{
    width: 75%;
    color: var(--fiol);
    font-size: 30px;
    margin: 0 auto;

} */
.current_nav{
    background-color: #B585D7;
    color: white;
    font-weight: 500;
    border-bottom: none;
    /* border-radius: 10px 10px 0 0; */
}
/* a{
    text-decoration: none;
    color: black;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    padding: 6px 30px;
    /* border-bottom: 3px solid #B585D7; */
/* } */
.last_nav{
    width: 100%;
}
main{
    width: var(--width);
}
.search_form{
    width: 75%;
    margin: 20px auto 20px auto;
    display: flex;
    gap: 0;
    input{
        margin: 0;
        border: 3px solid var(--fiol);
        height: 45px;
        &:focus{
            outline: none;
        }
    }
    input[type="text"]{
        border-radius: 10px 0 0 10px;
        border-right: none;
        width: 500px;
        padding-left: 20px;

    }
    input[type="submit"]{
        border-radius: 0 10px 10px 0;
        width: 100px;
        background-color: var(--fiol);
        font-size: 20px;
        font-weight: 500;
        color: white;
    }
}