.current_nav{
    background-color: #B585D7;
    color: white;
    font-weight: 500;
    border-bottom: none;
    /* border-radius: 10px 10px 0 0; */
}
/* a{
    text-decoration: none;
    color: black;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    padding: 6px 30px;
    /* border-bottom: 3px solid #B585D7; */
/* } */
.last_nav{
    width: 100%;
}
main{
    width: var(--width);
}

.filter_form{
    width: 75%;
    margin: 0px auto 0px auto;
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
    select{
        /* width: 300px; */
        padding-left: 15px;
        padding-right: 15px;
        border-radius: 12px;

        outline: none;
        &:focus{
            outline: none;
        }
    }
    input[type="submit"]{
        background-color: var(--fiol);
        font-size: 16px;
        padding: 3px 20px;
        font-weight: 500;
        color: white;
        border: none;
        border-radius: 12px;
    }
}

.filter_div{
    width: 75%;
    margin: 0px auto 20px auto;
    .select_filter{
        border: var(--fiol) 1px solid;
        border-radius: 12px;
        padding: 2px 20px;
        font-size: 12px;
        color: var(--fiol);
        margin-left: 50px;
        cursor: pointer;
    }
}

.reset_search{
    border: var(--fiol) 1px solid;
    border-radius: 12px;
    padding: 4px 20px;
    font-size: 16px;
    color: var(--fiol);
    margin-left: 50px;
    cursor: pointer;
    transition: .7s;
    text-decoration: none;
    &:hover{
        transition: .7s;
        background-color: var(--fiol);
        color: white;
    }
}
.search_block{
    display: flex;
    width: 75%;
    margin: 0 auto;
    height: 60px;
    margin-bottom: 10px;
    align-items: center;
    .zag{
        color: var(--fiol);
        font-size: 30px;
        margin: auto 0;
        margin-right: 20px;
    }
    .hidden_search{
        height: 100%;
        display: flex;
        gap: 10px;
        overflow: hidden;
        .show_search{
            height: 45px;
            width: 45px;
            text-decoration: none;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: auto;
            border-radius: 10px;
            transition: 2s;
            background-color: var(--fiol);
            i{
                color: white;
            }
            &:focus{
                outline: none;
            }
        }
        .btn_show{
            border: 3px solid var(--fiol);
            background-color: white;
            transition: 2s;
            i{
                color: var(--fiol);
            }
        }
        .search_form{
            width: 500px;
            transform: translateX(-560px);
            transition: 2s;
            /* margin: 10px auto 20px auto; */
            margin: auto;
            display: flex;
            gap: 0;
            input{
                margin: 0;
                border: 3px solid var(--fiol);
                height: 45px;
                &:focus{
                    outline: none;
                }
            }
            input[type="text"]{
                border-radius: 10px 0 0 10px;
                border-right: none;
                width: 500px;
                padding-left: 20px;
        
            }
            input[type="submit"]{
                border-radius: 0 10px 10px 0;
                width: 100px;
                background-color: var(--fiol);
                font-size: 20px;
                font-weight: 500;
                color: white;
            }
        }
        .shown_form{
            transform: translateX(0);
            transition: 2s;
        }
    }
    input[type="text"]{
        margin: auto 0;
    }
}

section{
    margin-bottom: 30px;
}
.load_block{
    width: 75%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    margin-top: -50px;
    margin-bottom: 100px;
    a{
        background-color: var(--fiol);
        color: white;
        cursor: pointer;
        font-size: 24px;
        font-weight: 500;
        border-radius: 12px;
        padding: 8px 30px;
    }
}