*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Jost", sans-serif;
}

img {vertical-align: baseline;}

p {margin: 0;}

body {overflow-x: hidden;}

a {text-decoration: none;}

.center-link {margin-inline: 20px;}

.information_with_links {display: flex; }

main{
    width: var(--width);
    margin: 0 auto;
}

.main-information-profile{
    display: flex;
    align-self: flex-start;
    margin: 0 auto;
    margin-bottom: 50px;
}

.project_bottom{
    display: flex;
    justify-content: space-between;
    .fa-heart{
        color: red;
    }
    .fa-comment{
        color: rgb(132, 132, 132);
    }
    >div{
        display: flex;
        >div{
            display: flex;
            gap: 5px;
            margin-right: 20px;
            align-items: center;
            p{
                color: black;
                font-weight: 500
            };
        }
    }
    .date{
        justify-self: flex-end;
        font-weight: 600;
        font-size: 18px;
        color: #B585D7;
    }
}

.assigned-projects{
    width: 100%;
    display: flex;
    align-items: center;
    >section{
        display: grid;
        grid-template-columns: repeat(3, 450px);
        gap: 30px;
        width: 100%;
        .about-me{
            display: flex;
            width: 450px;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            align-self: flex-start;
            img,p{
                margin-bottom: 2vh;
            }
            p{
                font-weight: 500;
                color: #9A5BC7;
                text-shadow: 0px 4px 4px #00000040;
            }
            .username{
                font-size: 36px;
            }
            .followers{
                font-size: 24px;
            }
            a{
                border-radius: 30px;
                /* width: 20vw; */
                padding: 10px 50px;
                background: #CBA9EF;
                color: white;
                text-align: center;
                font-weight: 700;
                font-size: 24px;
                height: 50px;
                display: flex;
                align-items: center;
                justify-content: center;  
            }
            img{
                width: 400px;
                height: 400px;
                border-radius: 50%;
                object-fit: cover;
            }
        }
    }
    >p{
        display: flex;
        align-items: center;
        font-size: 32px;
        font-weight: 700;
        color: #B585D7;
        margin-left: 40px;
        text-shadow: 0px 4px 4px #00000040;
        img{
            width: 54px;
            height: 54px;
        }
    }
}

.profile_links
{
    display: flex;
    a{
        background: #F8B5D2;
        padding: 5px 40px;
        color: #F9F2FF;
        border-radius: 30px;
        font-weight: 700;
        font-size: 24px;
        text-shadow: 0px 4px 4px #00000040;
    }
}

.center-local-link{
    margin-inline: 2%;
}

.strip{
    background: linear-gradient(90deg, rgba(244, 168, 202, 0.3) 0%, rgba(203, 169, 239, 0.3) 100%);
    height: 20px;
    width: 80%;
    margin: 0 auto;
    margin-top: 60px;
}

h2{
    font-size: 36px;
    font-weight: 700;
    color: #E35B98;
    text-shadow: 0px 4px 4px #00000040;
    width: 100%;
    justify-content: center;
    display: flex;
    align-items: center;
    margin: 30px 0;
}

.projects{
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    >section{
        display: grid;
        grid-template-columns: repeat(3, 450px);
        gap: 30px;
        margin: 0 auto;
    }
    img{
        width: 63px;
    }
}
.project-foto{
    margin: 0;
    a{
        height: 600px;
        width: 100%;
        >article {
            margin: 0;
            height: 100%;
            width: 100%;
            box-shadow: 10px 10px 51px 2px rgba(0,0,0,0.3);
            display: flex; 
            justify-content: center; 
            align-items: center; 
            border-radius: 30px;
            overflow: hidden;
            position: relative;
            transition: 1s;
            img{
                width: 100%;
                height: 100%;
                border-radius: 30px;
                object-fit: cover;
                background-size: cover;
                position: absolute;
                z-index: 1;
                transition: 1s;
                opacity: 1;
            }
            .proj_info{
                height: 250px;
                width: 100%;
                background-color: white;
                transform: translateY(250px);
                transition: 1s;
                position: absolute;
                z-index: 2;
                display: flex;
                bottom: 0;
                flex-direction: column;
                justify-content: space-between;
                padding: 30px;
                text-align: justify;

                .name{
                    font-size: 28px;
                    font-weight: 600;
                    width: 100%;
                    color: #B585D7;
                    border-bottom: 3px solid #B585D7;
                }
                .description{
                    color: black;
                    margin-top: 10px;
                    overflow: hidden;
                }
                .date{
                    align-self: flex-end;
                    font-weight: 600;
                    font-size: 18px;
                    color: #B585D7;
                }
            }
        }
        >article:hover{
            transition: 1s;
            img{
                opacity: 0.3;
                transition: 1s;
            }
            .proj_info{
                transition: 1s;
                box-shadow: -5px 0 51px 2px rgba(0,0,0,0.3);
                transform: translateY(0px);
            }
        }
    }
}

.achievement{
    width: 100%;
    margin: 0 auto;
    margin-bottom: 100px;
    .achiev_img{
        width: 50px;
        height: 50px;
        margin-left: 20px;
    }
    .achievement-foto{
        width: 80%;
        margin: 0 auto;
        >.carousel {
            height: 600px;
            .slider {
                height: 600px;
                div {
                    height: 600px;
                    width: 100%;
                    img {
                        overflow: hidden;
                        height: 100%;
                        object-fit: cover;
                        margin: 0 auto;
                    }
                }
            }
        }
    }
}

.container-contact{
    display: flex;
    flex-direction: column;
    border: 7px solid #C6A6DD;
    border-radius: 40px;
    max-width: fit-content;
    margin-left: 2vw;
    p {
        display: flex;
        margin: 2% 25vw 2% 5%;
        font-weight: 500;
        font-size: 32px;
        color: #E35B98;
    }
}