*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Jost", sans-serif;
   
}

body{
    overflow-x: hidden;
}

a{
    text-decoration: none;
}

.center-link{
    margin-inline: 20px;
}


main{
    width: var(--width);
    margin: 0 auto;
}

.information_with_links{
    margin: 5vh 2vw 0 2vw;    
}

.main-information-profile{
    display: grid;
    grid-template-columns: 1fr 3fr;
    max-width: 100vw;
}

.about-me{
    display: flex;
    flex: 1 0 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    img,
    p{
        margin-bottom: 2vh;
    }

    p{
        font-weight: 500;
        color: #9A5BC7;
        text-shadow: 0px 4px 4px #00000040;

    }
    .username{
        font-size: 36px;
    }

    .followers{
        font-size: 24px;
    }

    a{
        border-radius: 30px;
        width: 20vw;
        padding: 10px 10px;
        background: #CBA9EF;
        color: white;
        text-align: center;
        font-weight: 700;
        font-size: 24px;
    }
   
    img{
        width: 400px;
        height: 400px;
        border-radius: 50%;
        object-fit: cover;
    }
}

.assigned-projects{
    margin-left: 10vw;

    p{
        display: flex;
        align-items: center;
        font-size: 32px;
        font-weight: 700;
        color: #B585D7;
        text-shadow: 0px 4px 4px #00000040;
        img{
            width: 54px;
            height: 54px;
        }
    }
}

.profile_links
{
    display: flex;
    margin-top: 5vh;
    margin-left: 2vw;
      
    a{
        background: #F8B5D2;
        padding: 5px 40px;
        color: #F9F2FF;
        border-radius: 30px;
        font-weight: 700;
        font-size: 24px;
        text-shadow: 0px 4px 4px #00000040;
    }

}
.center-local-link{
    margin-inline: 2%;
}

.assigned-foto{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    height: 100%;
    article{
        background-color: firebrick;
        height: 80%;
        margin-inline: 5%;
        border-radius: 30px;
        
        
    }
    article:hover{
        border: 3px solid #343434;
    }
    
}

.strip{
    background: linear-gradient(90deg, rgba(244, 168, 202, 0.3) 0%, rgba(203, 169, 239, 0.3) 100%);
    height: 5vh;
    margin-top: 10px;
}

h2{
    font-size: 36px;
    font-weight: 700;
    color: #E35B98;
    text-shadow: 0px 4px 4px #00000040;
    margin-left: 2vw;
    margin-bottom: 2vh;
    margin: 2vh 2vw;

    display: flex;
    align-items: center;
}

.projects{
    margin-inline: 2vw;
    width: 100%;
    height: 100%;

    
    img{
        width: 63px;
    }
    

    .project-foto{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        width: 100%;
        height: 80vh;


        article {
            height: 90%;
            width: 85%;
            background-color: #ffff00;
            display: flex; 
            justify-content: center; 
            align-items: center; 
            margin-inline: 5%;
            border-radius: 30px;
          }
          article:hover{
            border: 3px solid #343434;
        }
    }
}

.achievement{
    margin-inline: 2vw;
    width: 100%;
    height: 100%;
    
    img{
        width: 63px;
    }

    .achievement-foto{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 80vh;
    }
    .content-achievement-foto{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        width: 60%;
        height: 80vh;

        article {
            height: 90%;
            width: 85%;
            background-color: #343434;
            display: flex; 
            justify-content: center; 
            align-items: center; 
            margin-inline: 5%;
            border-radius: 30px;
            
            padding-inline: 5%;
          }
          article:hover{
            border: 3px solid #343434;
        }
    }
}

.container-contact{
    display: flex;
    flex-direction: column;
    border: 7px solid #C6A6DD;
    border-radius: 40px;
    max-width: fit-content;
    margin-left: 2vw;
    p {
        display: flex;
        margin: 2% 25vw 2% 5%;
        font-weight: 500;
        font-size: 32px;
        color: #E35B98;
    }
}

.circle span{
    border-radius: 50%;
    display: block;
    position: absolute;
    z-index: -1;
}
.assigned-circle{
    width: 741.13px;
    height: 744.55px;
    top: 20vh;
    left: -12vw;
    filter: blur(3px);
    background: linear-gradient(270deg, rgba(248, 181, 210, 0.5) 14%, rgba(255, 255, 255, 0.5) 100%);
}
.right-big-circle{
    width: 80vw;
    height: 80vw;
    top: 20vh;
    right: -40vw;
    background: linear-gradient(270deg, rgba(248, 181, 210, 0.4) 14%, rgba(255, 255, 255, 0.4) 100%);
}

.middle-medium-circle{
    width: 60vw;
    height: 60vw;
    top: 130vh;
    left: -20vw;
    background: linear-gradient(270deg, rgba(233, 219, 248, 0.8) 14%, rgba(255, 255, 255, 0.8) 100%);
    filter: blur(3px);
}

.bottom-midle-circle{
    width: 60vw;
    height: 60vw;
    left: -20vw;
    /* top: 300vh; */
    bottom: 40vh;
    background: linear-gradient(270deg, rgba(248, 181, 210, 0.6) 14%, rgba(255, 255, 255, 0.6) 100%);
    filter: blur(10px);
}

.bottom-right-circle{
    width: 40vw;
    height: 40vw;
    right: -10vw;
    /* top: 280vh; */
    bottom: 70vh;
    background: linear-gradient(270deg, rgba(233, 219, 248, 0.8) 14%, rgba(255, 255, 255, 0.8) 100%);
    filter: blur(3px);
}
