*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Jost", sans-serif;
}

:root{
    --width: 1800px;
}

/** Body-style */
body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-self: center;
}
.main{
    position: absolute; 
    top: 0;
    left: 0;
    width: 100%;
    min-height: 60vh;
    height: 100%;
    z-index: 100;
    opacity: 1;
    transition: 1s;
}
.active_main {
    opacity: 0.4; /* Появляется при необходимости */
}
.navigation{
    width: 20%;
    height: 100vh;
    background-color: #212830;
    position: relative;
    z-index: 200;
    transition: 1s;
    transform: translateX(-100%);
    display: flex;
    flex-direction: column;
}
.header_of_train{
    width: 80%;
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    >img{
        width: 70px;
        height: 70px;

    }
}
.navlink{
    display: flex;
    width: 80%;
    height: 40px;
    align-items: center;
    margin: 5px auto;
    flex-wrap: wrap;
    color: white;
    font-size: 16px;
    font-weight: 600;
    transition: .6s;
    border-radius: 10px;
    padding: 5px 10px;
    text-decoration: none;
    &:hover{
        transition: .6s;
        background-color: rgba(255, 255, 255, 0.1);
    }
    button{
        text-decoration: none;
        color: white;
        background-color: rgba(255, 255, 255, 0);
        border: none; 
        outline: none;
        font-size: 16px;
        font-weight: 600;
    }
    
    i{
        font-size: 24px;
        font-weight: 600;
        color: white;
        margin-right: 10px;
    }
}
.nav_sep{
    width: 80%;
    margin: 10px auto !important;
    border: 1px solid white !important; 
}
#close_btn{
    img{
        width: 30px;
        height: 30px;
    }
}
.active_navigation{
    transform: translateX(0);
}

/** Header-style */
.center-link{margin: 0 20px;}
.header_img{
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
}
header{
    background: linear-gradient(90deg, rgba(255, 209, 229, 0.9) 0%, rgba(194, 163, 217, 0.9) 100%);
    width: 100%;
    height: 7vh;
    p,
    a{
        text-shadow: 0px 4px 4px #00000040;
    }

    nav{
        display: flex;
        justify-content: space-between;
        height: 100%;
        p{
            color: #ffffff;
        }
    }

    .left,
    .right{
        display: flex;
        align-items: center;
        height: 100%;
    }

    .left{
        margin-left: 2vw;
    }
    .right{
        margin-right: 2vw;
        /* input{
            margin-right: 20px;
            width: 10vw;
            border: 4px solid transparent;
            border-radius: 30px;
            padding: 5px 0 5px 10px;  
            background: linear-gradient(90deg, rgb(202, 179, 219) 0%, rgba(202, 179, 219) 100%) padding-box,
                linear-gradient(90deg, rgba(226, 31, 119, 0.5) 0%, rgba(154, 91, 199, 0.5) 100%) border-box;
        } */

        a, .logout_btn{
            display: flex;
            margin-left: 20px;
            justify-content: center;
            align-items: center;
            height: 40px;
            text-decoration: none;
            color: #ffffff;
            width: 12vw;
            border: 4px solid transparent;
            border-radius: 30px;
            padding: 5px 0 5px 0; 
            background: linear-gradient(90deg, rgb(202, 179, 219) 0%, rgba(202, 179, 219) 100%) padding-box,
                linear-gradient(90deg, rgba(226, 31, 119, 0.5) 0%, rgba(154, 91, 199, 0.5) 100%) border-box;
            svg{
                margin-left: 8px;
            }
        }
        
    }
}

/** Footer-style */
footer{
    display: flex;
    justify-content: center;
    align-items: end;
    margin-top: 100px;
    /* height: 100%; */
    width: var(--width);
    margin: 0 auto;
}
.message_love,
.computer{
    width: 200px;
    height: 200px;
}
.planet{
    width: 600px;
    height: 300px; 
}

/** Другие стили */
.error403{
    width: 400px;
    height: 200px;
    margin: 0 auto;
    margin-bottom: -100px;
}
.error{
    font-size: 14px;
    width: 80%;
    margin: 0;
    text-align: center;
    color: red;
}