body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    width: 1200px;
    margin: 0 auto;
}

.fls{
    max-width: 70%;
}
.project_files_block{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    margin-bottom: 100px;

    >div{
        display: flex;
        align-items: center;
        min-height: 50px;
        padding: 10px 0;
        border-left: 1px #afafaf solid;
        border-right: 1px #afafaf solid;
        border-top: 1px #afafaf solid;
        
        &:nth-child(2){
            border-radius: 10px 10px 0 0;
        }
        &:last-child{
            border-radius: 0px 0px 10px 10px;
            border-bottom: 1px #afafaf solid;
        }
        .photo{
            /* margin: 0 40px 0 20px; */
            width: 100px;    
            text-align: center;
        }
        .date{
            /* margin: 0 20px 0 auto; */
            width: 180px;
            text-align: center;
        }
        .center_header{
            width: 500px;
            text-align: center;
        }
        i{
            text-align: center;
            width: 75px;
        }
    }
    .img_block{
        .img_view{
            width: 100px;
            display: flex;
            align-items: center;
            justify-content: center;
            img{
                height: 45px;
                width: 70px;
                object-fit: cover;
            }
        }
        
        .filename{
            /* overflow: hidden; */
            width: 500px;
            text-align: start;
        }
        p{
            width: 180px;
            text-align: center;
        }
        .delete_file_btn, .img_down{
            text-align: center;
            width: 75px;
            &:visited {
                color: blue;
            }
        }
        .img_down{
            color: black;
            &:visited {
                color: black;
            }
            &:hover{
                i{
                    transition: .5s;
                    /* background-color: #b585d79b; */
                    color: #b585d79b;

                }
            }
            i{
                border-radius: 50%;
                width: 40px;
                height: 40px;
                line-height: 40px;
                text-align: center;
                transition: .5s;
            }
        }
    }
}
.super_files{
    width: 80%;
    >div{
        /* width: 110%; */
        /* grid-template-columns: 130px 55% 180px 75px 75px 75px; */
        .delete_file_btn{  
            i{transition: .5s;}
            &:hover{
                i{
                    color: var(--fiol);
                    transition: .5s;
                }
            }
        }
        .radio_block{
            width: 75px;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            .radio{
                width: 20px;
                height: 20px;
                background-color: white;
                border: 2px solid blue;
                border-radius: 50%;
                .select_radio{
                    width: 15px;
                    height: 15px;
                    background-color: blue;
                    border-radius: 50%;
                    margin: auto;
                }
            }
        }
    }
}

.confirm_delete_block{
    display: none;
    flex-direction: column;
    position: absolute;
    width: 500px;
    /* height: 300px; */
    border-radius: 20px;
    background-color: white;
    box-shadow: 20px 20px 75px 2px rgba(0, 0, 0, 0.3);
    z-index: 1000;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 40px;
    text-align: justify;
    .close_confirm{
        position: absolute;
        right: 10px;
        top: 8px;
        &:hover{
            i{
                transition: .6s;
                color: black;
            }
        }
        i{
            color: rgb(175, 175, 175);
            transition: .6s;
            font-size: 30px;
        }
    }
    h3{
        font-weight: 500;
        font-size: 18px;
        text-align: center;
        width: 100%;
        span{
            color: var(--fiol);
            font-weight: 800;
        }
    }
    img{
        max-width: 100%;
        max-height: 300px;
        object-fit: cover;
        margin: 20px auto;
    }
    .wrong_text{
        padding: 10px;
        margin-top: 10px;
        margin-bottom: 0;
    }
    form{
        display: flex;
        flex-direction: column;
        input[type="text"]{
            margin-top: 20px;
            height: 50px;
            border-radius: 5px;
            border: 1px solid rgb(175, 175, 175);
            padding-left: 10px;
            font-size: 16px;
            font-weight: 500;
            color: rgb(175, 175, 175);
            &:focus{
                outline: none;
            }
        }
        a{
            width: 150px;
            background-color: var(--fiol);
            border: none;
            text-align: center;
            border-radius: 10px;
            padding: 4px 20px;
            color: white;
            font-weight: 500;
            font-size: 18px;
            margin-top: 20px;
            align-self: flex-end;
            cursor: pointer;

        }
    }
}

.confirm_activ{
    display: flex;
}