h2, p, a{
  margin: 0;
  padding: 0;
}
.project_nav{
  display: flex;
  margin: 20px auto;
  a{
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-weight: 600;
	padding: 6px 30px;
	border-bottom: 3px solid rgb(193, 193, 193);
  }
  .current_nav{
  color: #B585D7;
	border-bottom: none;
	border-left: 3px solid #B585D7;
	border-top: 3px solid #B585D7;
    border-right: 3px solid #B585D7;
	border-radius: 10px 10px 0 0;
  }
  .last_nav{
	width: 100%;
  }
}
main{
	width: 1200px;
	margin: 0 auto;
}


.project_info{
  display: flex;
  margin: 10px auto;
	height: 60px;
	align-items: center;
	justify-content: space-between;
    .projname{
      display: flex;
		  align-items: center;
      height: 100%;
      img{
        width: 50px;
        height: 50px;
        object-fit: cover;
        border-radius: 50%;
        margin-right: 20px;
      }
      h2{
        font-size: 28px;
			  color: #B585D7;
        font-weight: 600;
        line-height: 28px;
      }
      .project_autor{
        margin-right: 10px;
      }
      .project_name{
        margin-left: 10px;
      }
      .status{
        border: 2px solid rgb(180, 180, 180);
        color: rgb(180, 180, 180);
        border-radius: 15px;
        padding: 3px 10px;
        margin-left: 10px;
      }
    }
}

.main_project_slider{
  >.carousel{
    height: 600px;
    .slider{
      height: 600px;
      div{
        height: 600px;
        width: 100%;
        /* display: flex;
        align-items: center;
        justify-content: center; */
        img{
          overflow: hidden;
          /* max-width: 100%;
          max-height: 100%; */
          width: 100%;
          height: 100%;
          object-fit: cover;
          margin: 0 auto;
        }
      }

    }
  }
  >.proj_description{
    p{
      margin: 0;
    }
    .date{
      font-size: 18px;
      font-weight: 500;
      color: #B585D7;
      margin-bottom: 5px;
    }
    
    .name{
      font-size: 28px;
      font-weight: 600;
      color: #B585D7;
      margin-top: 10px;
    }
    .desc{
      
    }
  }
  .project_buttons{
		display: flex;
    margin: 10px 0;
		a{
			text-decoration: none;
      display: flex;
      padding: 5px 20px;
      border-radius: 18px;
      color: black;
      height: 35px;
      align-items: center;
      gap: 10px;
      color: white;
      font-weight: 600;
      background: #B585D7;
      &:hover{
        cursor: pointer;
      }
      p{
        margin: 0;

      }
      .bm_checked{
        color: yellow;
      }
      .heart_cheked{
        color: red;
      }
		}
    /* .a_like{
      background-color: white;
      border: #B585D7 2px solid;
      padding: 5px 8px;
    } */
    .unpin_btn, .unlike_btn{
      background-color: white;
      color: #B585D7;
      border: #B585D7 2px solid;
      display: flex;
      align-items: center;
      height: 35px;
    }
	}
}
.block_zag{
  font-size: 28px;
  margin-bottom: 10px;
  color: var(--pink);
  font-weight: 600;
}
.project_comment_add{
  margin-top: 50px;
  form{
    display: flex;
    flex-direction: column;
    width: 600px;
    textarea{
      width: 600px;
      height: 150px;
      padding: 5px 15px;
      border-radius: 10px;
      resize: none;
      &:focus{
        outline: none;
      }
    }
    input[type="submit"]{
      background-color: var(--fiol);
      width: 150px;
      align-self: flex-end;
      margin-top: 10px;
      border: none;
      height: 30px;
      border-radius: 15px;
      color: white;
      font-weight: 500;
    }
  }
}
.project_comments{
  margin-top: 50px;
  margin-bottom: 50px;
  /* width: 1000px; */
  .comment{
    /* width: 100%; */
    /* border-top: 2px solid #9A5BC7; */
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    gap: 5px;
    >div{
      width: 100%;
    }
    >.comment_header{
      display: flex;
      gap: 15px;
      height: 40px;
      align-items: center;
      img{
        width: 40px;
        height: 40px;
        border-radius: 50%;
      }
      .autor_name{
        color: #622190;
        font-size: 18px;
        font-weight: 500;
      }
      .project_date{
        color: var(--fiol);
        font-size: 14px;
        font-weight: 500;
      }
    }
    >.comment_buttons{
      a{
        padding: 3px 20px;
        border: 1px solid rgb(136, 136, 136);
        border-radius: 18px;
        display: flex;
        gap: 10px;
        height: 30px;
        align-items: center;
        text-decoration: none;
        color: black;
        min-width: 40px;
        max-width: 75px;
        justify-content: center;
        .heart_checked{
          color: red;
        }
      }
    }
  }
}