* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
p{
  margin: 0;
}
img {
  vertical-align: baseline;
}

main {
  width: 1200px;
  margin: 0 auto !important;
}

.main_project_slider {
  width: 80%;
  margin: 0 auto;

  >.carousel {
    height: 600px;

    .slider {
      height: 600px;

      div {
        height: 600px;
        width: 100%;

        img {
          overflow: hidden;
          height: 100%;
          object-fit: cover;
          margin: 0 auto;
        }
      }

    }
  }

  >.proj_description {
    p {
      margin: 0;
    }

    .date {
      font-size: 18px;
      font-weight: 500;
      color: #B585D7;
      margin-bottom: 5px;
    }

    .desc {
      /* Растягивает текст по ширине */
      text-align: justify;
      a {
        color: blue;
        line-height: 18px;
        /* Чтобы буквы не перегораживались подчеркиванием ссылки */
        text-decoration-skip-ink: none;

        &:hover {
          cursor: pointer;
          text-decoration: underline;
          padding-bottom: 5px;
        }
      }
      .troe {
        margin: 0 5px;
      }

      .hide {
        display: none;
      }

      .show {
        display: flex;
      }
    }

    .name {
      font-size: 28px;
      font-weight: 600;
      color: #B585D7;
      margin-top: 10px;
    }

    .desc_header {
      display: flex;
      justify-content: space-between;
      width: 100%;
    }

    .proj_likes {
      display: flex;
      justify-self: flex-end;
      height: 26px;
      font-size: 20px;
      align-items: center;
      color: var(--fiol);
      gap: 10px;
      font-weight: 600;

      .heart_cheked {
        color: red;
      }
    }
  }

  .project_buttons {
    display: flex;
    gap: 10px;
    margin: 10px 0;

    a {
      text-decoration: none;
      display: flex;
      padding: 5px 20px;
      border-radius: 18px;
      color: black;
      height: 35px;
      align-items: center;
      gap: 10px;
      color: white;
      font-weight: 600;
      background: #B585D7;

      &:hover {
        cursor: pointer;
      }

      p {
        margin: 0;
        line-height: ;
      }

      .bm_checked {
        color: yellow;
      }

      .heart_cheked {
        color: red;
      }
    }

    /* .a_like{
      background-color: white;
      border: #B585D7 2px solid;
      padding: 5px 8px;
    } */
    .unpin_btn,
    .unlike_btn {
      background-color: white;
      color: #B585D7;
      border: #B585D7 2px solid;
      display: flex;
      align-items: center;
      height: 35px;
    }
  }
}

.block_zag {
  font-size: 28px;
  margin-bottom: 10px;
  color: var(--pink);
  font-weight: 600;
}

.project_comment_add {
  width: 80%;
  margin: 0 auto;
  margin-top: 50px;

  form {
    display: flex;
    flex-direction: column;
    width: 600px;

    textarea {
      width: 600px;
      height: 150px;
      padding: 5px 15px;
      border-radius: 10px;
      resize: none;

      &:focus {
        outline: none;
      }
    }

    input[type="submit"] {
      background-color: var(--fiol);
      width: 150px;
      align-self: flex-end;
      margin-top: 10px;
      border: none;
      height: 30px;
      border-radius: 15px;
      color: white;
      font-weight: 500;
    }
  }
}

.project_comments {
  width: 80%;
  margin: 50px auto;

  /* width: 1000px; */
  .comment {
    /* width: 100%; */
    /* border-top: 2px solid #9A5BC7; */
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    gap: 5px;

    >div {
      width: 100%;
    }

    >.comment_header {
      display: flex;
      gap: 15px;
      height: 40px;
      align-items: center;

      img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
      }

      .autor_name {
        color: #622190;
        font-size: 18px;
        font-weight: 500;
      }

      .project_date {
        color: var(--fiol);
        font-size: 14px;
        font-weight: 500;
      }
    }

    >.comment_text {
      width: 100%;
      /* p{
        word-break: break-all;
      } */
    }

    >.comment_buttons {
      display: flex;
      gap: 15px;
      margin-top: 5px;

      a {
        padding: 3px 20px;
        border: 1px solid rgb(136, 136, 136);
        border-radius: 18px;
        display: flex;
        height: 30px;
        align-items: center;
        text-decoration: none;
        color: black;
        justify-content: center;
        cursor: pointer;

        .heart_checked {
          color: red;
        }

        p {
          font-weight: 500;
          margin: 0;
          margin-left: 3px;
        }
      }

      >.delete_review_btn {
        display: flex;
        gap: 10px;
        align-items: center;
        height: 30px;
        background-color: var(--fiol);
        border: none;
        margin: 0;

        >p {
          color: white;
          font-weight: 500;
        }

        >i {
          color: rgb(255, 255, 255);
        }
      }

      .removed {
        background-color: white;
        border: 1px solid var(--fiol);

        p {
          color: var(--fiol);
        }

        i {
          color: var(--fiol);
        }
      }
    }
  }
}

.error_name {
  color: red !important;
  font-weight: 500;
  margin-bottom: 10px;
}