.settings_block {
    display: flex;

    .settings_nav {
        width: 290px;
        display: flex;
        flex-direction: column;
        border-right: 2px solid rgb(180, 180, 180);
        padding-right: 40px;

        p {
            font-size: 24px;
            margin-top: 40px;
            font-weight: 600;
            color: var(--fiol);
        }

        a {
            width: 100%;
            height: 40px;
            display: flex;
            align-items: center;
            border-radius: 10px;
            margin-bottom: 8px;
            text-decoration: none;
            padding-left: 10px;
            font-size: 18px;
            gap: 12px;
            font-weight: 500;
            transition: .7s;
            color: black;

            &:hover {
                transition: .7s;
                color: white;
                background-color: var(--fiol);
            }
        }

        .current_settings_nav {
            color: white;
            background-color: var(--fiol);
        }

        hr {
            width: 100%;
            border: 1px solid rgb(129, 129, 129);
            margin-bottom: 10px;
        }
    }

    .settings_body {
        padding-left: 40px;
        width: 920px;

        h3 {
            font-size: 22px;
            /* color: #B585D7; */
            font-weight: 600;
            line-height: 28px;
        }

        .error_name {
            margin: 0;
        }
    }
}