{% extends 'base.html' %}

{% load static %}

{% block title %}PicHub{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/create_project.css' %}">

    <!-- Подключаем dropzone -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.9.2/dropzone.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.9.2/dropzone.min.js"></script>
    <!-- <script src="https://unpkg.com/dropzone@6.0.0-beta.1/dist/dropzone-min.js"></script>
    <link href="https://unpkg.com/dropzone@6.0.0-beta.1/dist/dropzone.css" rel="stylesheet" type="text/css" />
    <script src="{% static 'js/changedropzone.js' %}"></script> -->
{% endblock %}

{% block content %}
<main>
    <section class="top-text">
        <h2>Cоздать новый проект</h2>
        <hr>
    </section>
    {% if projectform.non_field_errors %}
        {% for error in projectform.non_field_errors %}
            <p class="wrong_text">{{ error }}</p>
        {% endfor %}
    {% endif %}
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}    
        <section class="main-information">
            <article class="user-and-name">
                <div>
                    <p>Владелец</p>
                    <div class="fon-input">
                        <p>{{ user.username }}</p>
                    </div>
                </div>
                <h3>/</h3>
                <div>
                    <p>Название проекта</p>
                    <div class="fon-input">
                        {{ projectform.name }}
                    </div>
                </div>
            </article>

            <article class="description">
                <p>Описание(необязательно)</p>
                <div class="fon-input">
                    {{ projectform.description }}
                </div>
            </article>
        </section>
        <hr>
        <section class="radio-input">
            <div>
                {{ projectform.is_private }}
            </div>
            <div>
                <div class="privat">
                    
                    <label>
                        <h3>Публично <img src="{% static 'img/site_img/create_project/book.png' %}" alt=""></h3>
                        <p>Любой в интернете может увидеть этот проект</p>
                    </label>
                </div>

                <div>
                    {% comment %} {{ projectform.is_private['1'] }} {% endcomment %}
                    <label>
                        <h3>Приватно <img src="{% static 'img/site_img/create_project/lock.png' %}" alt=""></h3>
                        <p>Вы выбираете кто может видеть и редактировать этот проект</p>
                    </label>
                </div>
            </div>
        </section>
        <hr>
        <p class="sucsess_text none">Файлы успешно добавлены!</p>
        <div class="add_files">
            <p class="add_files_p">Добавьте файлы</p>
            {{ projectform.files }}
        </div>
        <div class="uploaded_files" id="uploaded_files">
            {% include "blocks/photo_upload_block.html" %}
        </div>
        
        <section class="but">
            <input type="submit" value="Отправить"></input>
        </section>
    </form>
    <script>
        // Появление текста об успешном добавлении файлов 
        $("#id_files").change(() => {
            $(".sucsess_text").removeClass("none");
        });
    </script>
    <script>
        // Dropzone.options.myDropzone = {
        //     maxFilesize: 5, // MB
        //     acceptedFiles: 'image/*',
            // success: function (file, response) {
            //     var imgContainer = document.createElement('div');
            //     imgContainer.className = 'img-container'    ;
            //     imgContainer.innerHTML = '<img src="' + response.file_url + '" alt="Uploaded Image">';
            //     document.getElementById('imagePreview').appendChild(imgContainer);
            // },
            // error: function (file, response) {
            //     alert('Error uploading file: ' + response);
            // }
        // };
    </script>
</main>

<!-- <script src="{% static 'js/dropzone.js' %}"></script> -->
<script src="{% static 'js/setcheck.js' %}"></script>

{% endblock %}
