{% extends 'base.html' %}

{% load static %}

{% block title %}PicHub{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/project/project.css' %}">
    <link rel="stylesheet" href="{% static 'css/project/project_settings.css' %}">
    <link rel="stylesheet" href="{% static 'css/project/header_project.css' %}">
    <link rel="stylesheet" href="{% static 'css/project/project_settings_edit.css' %}">
{% endblock %}

{% block content %}
<main>
    <div class="project_info">
        <div class="projname">
            <a href="{% url 'profile' project.autor.username %}">
                <img src="/media/{{ project.autor.profile.photo }}" alt="">
            </a>
            <h2 class="project_autor">{{ project.autor.username }}</h2>
            <h2>/</h2>
            <h2 class="project_name">{{ project.name }}</h2>
            <p class="status">
                {% if project.is_private %}
                <i class="fa-solid fa-lock"></i> приватный 
                {% else %}
                <i class="fa-solid fa-unlock"></i> публичный 
                {% endif %}
            </p>
        </div>
    </div>
    <div class="project_nav">
        <a class="project_link" href="{% url 'project' project.autor.username project.name %}"><i class="fa-solid fa-images"></i> Проект</a>
        <a href="{% url 'project_files' project.autor.username project.name %}" class="{% if project.autor == request.user or user.is_superuser %} files_link {% else %} files_end_link {% endif %}"><i class="fa-solid fa-file"></i> Файлы</a>
        {% if project.autor == request.user or user.is_superuser %}
            <a class="current_nav settings_link"><i class="fa-solid fa-gears"></i> Настройки</a>
        {% endif %}
        <a class="last_nav"></a>
    </div>
    {% block settings %}
    
    {% endblock %}
</main>
{% endblock %}