{% extends "project/project_settings.html" %}

{% load static %}

{% block settings %}
    <div class="settings_block">
        <div class="settings_nav">
            <a href="" class="current_settings_nav">
                <i class="fa-solid fa-pen-to-square"></i> Изменение
            </a>
            <a href="">
                <i class="fa-solid fa-file-circle-plus"></i> Добавление файлов
            </a>
            <a href="{% url 'settings_proj_delete' project.autor.username project.name %}">
                <i class="fa-solid fa-trash"></i> Удаление
            </a>
        </div>
        <div class="settings_body">
            <h3>Изменение основных настроек проекта:</h3>
            {% if projectform.non_field_errors %}
                {% for error in projectform.non_field_errors %}
                    <p class="wrong_text">{{ error }}</p>
                {% endfor %}
            {% endif %}
            <form action="" method="POST">
                {% csrf_token %}
                <section class="main-information">
                    <article class="user-and-name">
                        <div>
                            <p>Владелец</p>
                            <div class="fon-input">
                                <p>{{ user.username }}</p>
                            </div>  
                        </div>
        
                        <h3>/</h3>
        
                        <div>
                            <p>Название проекта</p>
                            <div class="fon-input">
                                {{ projectform.name }}
                            </div>
                        </div>
                    </article>
        
                    <article class="description">
                        <p>Описание(необязательно)</p>
                        <div class="fon-input">
                            {{ projectform.description }}
                        </div>
                    </article>
                </section>
                <section class="radio-input">
                    <div>
                        {{ projectform.is_private }}
                    </div>
                    <div>
                        <div class="privat">
                            <label>
                                <h3>Публично <img src="{% static 'img/site_img/create_project/book.png' %}" alt=""></h3>
                                <p>Любой в интернете может увидеть этот проект</p>
                            </label>
                        </div>
                        <div>
                            <label>
                                <h3>Приватно <img src="{% static 'img/site_img/create_project/lock.png' %}" alt=""></h3>
                                <p>Вы выбираете кто может видеть и редактировать этот проект</p>
                            </label>
                        </div>
                    </div>
                </section>
                <input type="submit" value="Сохранить"></input>
            </form>
        </div>
    </div>
    <script>
        {% if project.is_private %}
            const checked_elem = document.getElementById("id_is_private_1");
        {% else %}
            const checked_elem = document.getElementById("id_is_private_0");
        {% endif %}
        checked_elem.setAttribute('checked', 'True')
    </script>
{% endblock %}